apiVersion: apps/v1
kind: Deployment
metadata:
  name: bracunet-frontend
  labels:
    app: bracunet-frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: bracunet-frontend
  template:
    metadata:
      labels:
        app: bracunet-frontend
    spec:
      containers:
        - name: frontend
          image: bracunet-frontend:latest
          ports:
            - containerPort: 3000
          env:
            - name: REACT_APP_API_URL
              value: "http://backend-service:5000" # Adjust according to your backend service name
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m" 

---
apiVersion: v1
kind: Service
metadata:
  name: bracunet-frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: bracunet-frontend